<link rel="import" href="chrome://resources/polymer/v0_8/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v0_8/iron-icon/iron-icon.html">
<link rel="import" href="chrome://resources/polymer/v0_8/iron-icons/iron-icons.html">
<link rel="import" href="chrome://resources/polymer/v0_8/paper-menu/paper-menu.html">
<link rel="import" href="chrome://resources/polymer/v0_8/paper-item/paper-icon-item.html">

<dom-module id="cr-settings-menu">
  <link rel="import" type="css" href="settings_menu.css">
  <template>
    <paper-menu selected="{{selectedId}}" attr-for-selected="data-id">
      <template is="dom-repeat" items="[[pages]]">
        <paper-icon-item data-id$="[[item.PAGE_ID]]" icon-width="34px">
          <iron-icon icon="[[item.icon]]" item-icon></iron-icon>
          <span>[[item.pageTitle]]</span>
        </paper-icon-item>
      </template>
    </paper-menu>
  </template>
  <script src="settings_menu.js"></script>
</dom-module>
