/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

paper-fab {
  background-color: #fff;
  color: rgb(158, 158, 158);
  overflow: visible;
}
