<link rel="import" href="chrome://resources/polymer/v0_8/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="chrome://resources/cr_elements/v0_8/cr_events/cr_events.html">

<dom-module id="cr-toggle-button">
  <style>
    :host {
      --paper-toggle-button-unchecked-bar-color: rgb(38, 50, 56);
      --paper-toggle-button-unchecked-button-color: rgb(236, 239, 241);
      --paper-toggle-button-unchecked-ink-color: rgb(176, 190, 197);
      --paper-toggle-button-checked-bar-color: rgb(0, 150, 136);
      --paper-toggle-button-checked-button-color: rgb(0, 150, 136);
      --paper-toggle-button-checked-ink-color: rgb(0, 150, 136);
    }
  </style>
  <link rel="import" type="css" href="cr_toggle_button.css">
  <template>
    <cr-events id="events"></cr-events>
    <paper-toggle-button id="button"
        checked="{{checked}}" disabled="[[disabled]]">
    </paper-toggle-button>
  </template>
  <script src="cr_toggle_button.js"></script>
</dom-module>
