<link rel="import" href="chrome://resources/polymer/v0_8/polymer/polymer.html">

<dom-module id="viewer-password-screen-legacy">
  <link rel="import" type="css" href="viewer-password-screen-legacy.css">
  <template>
    <div class="center">
      <form class="form">
        <div id="message">{{text}}</div>
        <input id="password" type="password" size="20"></input>
        <input id="submit" type="submit" on-click="submit"></input>
      </form>
    </div>
  </template>
</dom-module>
<script src="viewer-password-screen-legacy.js"></script>
