<link rel="import" href="chrome://resources/polymer/v0_8/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v0_8/iron-icon/iron-icon.html">
<link rel="import" href="chrome://resources/polymer/v0_8/iron-icons/device-icons.html">

<dom-module id="cr-settings-page-header">
  <link rel="import" type="css" href="settings_page_header.css">
  <template>
    <paper-material>
      <div class="breadcrumbs">
        <div class="icon-container">
          <iron-icon icon="{{topPageIcon_}}"><iron-icon>
        </div>

        <template is="dom-repeat" items="{{parentPages_}}">
          <a href="{{urlFor_(item)}}">{{item.pageTitle}}</a>&nbsp;&gt;
        </template>

        <span>{{currentPageTitle_}}</span>
      </div>
    </paper-material>
  </template>
  <script src="settings_page_header.js"></script>
</dom-module>
