/* Copyright 2014 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* Set the global 'box-sizing' state to 'border-box'.
 * *::after and *::before used to select pseudo-elements not selectable by *. */

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Remove all margins and padding from certain element and add word wrap. */

blockquote,
body,
caption,
dd,
dl,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
legend,
ol,
p,
pre,
ul,
table,
td,
th {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

/* Prevent 'sub' and 'sup' affecting 'line-height'. */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Remove most spacing between table cells. */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* Base typography. */

html {
  font-size: 14px;
  height: 100%;
}

body {
  height: 100%;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  transition-property: color, background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/* Classes for light, dark and sepia themes.
 * Must agree with classes returned by useTheme() in dom_distiller_viewer.js
 * and with CSS class constants in viewer.cc */

.light {
  color: #333;
  background-color: #FFF;
}

.dark {
  color: #DDD;
  background-color: #000;
}

.sepia {
  color: #000;
  background-color: rgb(203, 173, 141);
}

.serif {
  font-family: serif;
}

.sans-serif {
  font-family: 'Open Sans', sans-serif;
}

.monospace {
  font-family: monospace;
}

/* Define vertical rhythm (baseline grid of 4px). */

blockquote,
caption,
code,
dd,
dl,
fieldset,
figure,
form,
hr,
legend,
ol,
p,
pre,
q,
table,
td,
th,
ul {
  margin-bottom: 1rem;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1.296;
  margin-bottom: 0.444rem;
}

/* Content. */

/* Margins for Show Original link. */

#showOriginal {
  margin: auto 1.296rem 1.296rem 5%;
}

#content {
  margin: 0.2rem 2.2%;
}

/* Main margins. */

body {
  max-width: 800px;
  margin: 0px auto 0px auto;
}

#mainContent {
  margin: auto 0px;
}

#articleHeader {
  background-color: rgb(73, 73, 73);
  color: white;
  min-height: 90px;
  width: 100%;
}

#titleCollapse  {
  display: block;
  overflow: hidden;
}

#titleCollapse .verticalCenterOuter {
  min-height: 90px;
}

#titleHolder {
  padding: 10px 30px;
}

.verticalCenterOuter {
  display: table;
  height: 100%;
}

.verticalCenterInner {
  display: table-cell;
  vertical-align: middle;
}


/* Link colors for light, dark and sepia themes */

.light a:link,
.sepia a:link {
  color: #55F;
}

.dark a:link {
  color: #88F;
}

.light a:visited,
.sepia a:visited {
  color: #902290;
}

.dark a:visited {
  color: #D872D8;
}

blockquote {
  border-left: 4px solid #eee;
  padding-left: 1em;
}

cite {
  opacity: .54;
  font-style: italic;
}

hr {
  opacity: .5;
  border-style: solid;
  height: 1px 0 0 0;
  width: 75%;
}

h1 {
  font-size: 1.7rem;
  line-height: 1.296;
  margin-bottom: 0.444rem;
}

q {
  opacity: .8;
  display:block;
  font-style: italic;
  font-weight: 600;
  line-height: 1.444;
}

embed,
img,
object,
video {
  max-width: 100%;
}

/* TODO(sunangel): make images zoomable. */

img {
  display: block;
  height: auto;
  margin: 0 auto 0.6rem auto;
}

/* TODO(nyquist): set these classes directly in the dom distiller. */

embed+[class*='caption'],
figcaption,
img+[class*='caption'],
object+[class*='caption'],
video+[class*='caption'] {
  opacity: .54;
  display: table;
  font-style: italic;
  margin: 0 auto;
}

ol,
ul {
  margin-left: 1.296rem;
}

.light code,
.light pre,
.sepia code,
.sepia pre {
  background-color: #f8f8f8;
  border: 1px solid #eee;
  border-radius: 2px;
}

.dark code,
.dark pre {
  background-color: #333;
  border: 1px solid #555;
  border-radius: 2px;
}

pre code {
  border: none;
  padding: 0;
}

pre {
  line-height: 1.296;
  overflow-x: scroll;
  padding: .5em;
}

.hidden {
  display: none;
}

/* Footer feedback form. */
#contentWrap {
  min-height: 100%;
  overflow: auto;
  padding-bottom: 120px;
  position: relative;
  z-index: 1;
}

#feedbackContainer {
  font-size: 14px;
  position: relative;
  z-index: 2;
}

.footerFeedback {
  background-color: #4285F4;
  clear: both;
  color: #fff;
  display: none;
  height: 120px;
  margin-top: -120px;
  width: 100%;
}

.feedbackContent {
  font-size: 14px;
  background-color: #4285F4;
  clear: both;
  padding: 14px;
}

#feedbackQuestion {
  font-size: 1.4em;
  font-weight: 700;
  text-align: center;
  width: 100%;
}

.feedbackButtonWrap {
  margin-top: 14px;
  text-align: center;
  width: 100%;
}

.feedbackButton {
  background-color: #FFFFFF;
  border-radius: 3px;
  color: #4285F4;
  display: inline-block;
  font-weight: 900;
  height: 35px;
  margin: 0px 4% 0px 4%;
  padding-top: 8px;
  text-align: center;
  text-transform: uppercase;
  width: 40%;
}

.clear {
  clear: both;
}

/* Feedback fade out */
.fadeOut {
  animation-duration: 0.5s;
  animation-name: fadeOutAndSwipeAnimation;
}

@keyframes fadeOutAndSwipeAnimation {
  from {
    margin-left: 0%;
    opacity: 1;
  }

  to {
    margin-left: -100%;
    opacity: 0;
  }
}

/* Iframe sizing. */
.youtubeContainer {
  height: 0px;
  /* This is the perecnt height of a standard HD video. */
  padding-bottom: 56.25%;
  position: relative;
  width: 100%;
}

.youtubeIframe {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

/* Loading Indicator. */
#loader {
  height: 22px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 22px;
}

#loader * {
  display: block;
  position: absolute;
}

#loader .circle {
  border-radius: 50%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  width: 100%;
}

#loader .mask {
  height: 100%;
  opacity: 0;
  overflow: hidden;
  width: 100%;
}

#loader .mask.first {
  transition-delay: 0.22s;
  transition-duration: 0s;
  transition-property: border-color;
}

#loader .circle.initial .mask {
  height: 50%;
  top: 0;
}

#loader .circle.red .mask.first {
  border-bottom: 1px solid #555;
  height: 50%;
  top: 0;
}

#loader .circle.red .mask.second {
  bottom: 0;
  height: 50%;
}

#loader .circle.yellow .mask.first {
  border-left: 1px solid #888;
  right: 0;
  width: 50%;
}

#loader .circle.yellow .mask.second {
  left: 0;
  width: 50%;
}

#loader .circle.green .mask.first {
  border-top: 1px solid #555;
  bottom: 0;
  height: 50%;
}

#loader .circle.green .mask.second {
  height: 50%;
  top: 0;
}

#loader .circle.blue .mask.first {
  border-right: 1px solid #888;
  left: 0;
  width: 50%;
}

#loader .circle.blue .mask.second {
  right: 0;
  width: 50%;
}

#loader .circle .mask .base {
  border-radius: 50%;
  height: 100%;
  opacity: 0;
  transition-property: opacity;
  transition-timing-function: linear;
  transition-duration: 0s;
  transition-delay: 0s;
  width: 100%;
}

#loader .circle .mask .mover {
  border-radius: 50%;
  height: 100%;
  transition-delay: 0s;
  transition-duration: 0.22s;
  transition-property: background-color, left, top, right, bottom, width,
      height;
  transition-timing-function: ease-in;
  width: 100%;
}

#loader .circle .mask.second .mover,
#loader .circle.initial .mask .mover {
  transition-delay: 0.22s;
  transition-timing-function: ease-out;
}

#loader .circle.red .mask.first .base {
  height: 200%;
  top: 0;
}
#loader .circle.red .mask.second .base {
  bottom: 0;
  height: 200%;
}

#loader .circle.yellow .mask.first .base {
  right: 0;
  width: 200%;
}

#loader .circle.yellow .mask.second .base {
  left: 0;
  width: 200%;
}

#loader .circle.green .mask.first .base {
  bottom: 0;
  height: 200%;
}

#loader .circle.green .mask.second .base {
  height: 200%;
  top: 0;
}

#loader .circle.blue .mask.first .base {
  left: 0;
  width: 200%;
}

#loader .circle.blue .mask.second .base {
  right: 0;
  width: 200%;
}

#loader .circle.initial .mask .mover {
  height: 0;
  top: 100%;
}

#loader .circle.red .mask.first .mover {
  height: 200%;
  top: 0;
}

#loader .circle.red .mask.second .mover {
  bottom: 100%;
  height: 0;
}

#loader .circle.yellow .mask.first .mover {
  right: 0;
  width: 200%;
}

#loader .circle.yellow .mask.second .mover {
  left: 100%;
  width: 0;
}

#loader .circle.green .mask.first .mover {
  bottom: 0;
  height: 200%;
}

#loader .circle.green .mask.second .mover {
 height: 0;
 top: 100%;
}

#loader .circle.blue .mask.first .mover {
  left: 0;
  width: 200%;
}

#loader .circle.blue .mask.second .mover {
  right: 100%;
  width: 0;
}

/* Initial State. */
#loader.initial .circle.initial,
#loader.initial .circle.initial .mask {
  opacity: 1;
}
#loader.initial .circle.initial .mask .mover {
  height: 200%;
  top: 0;
}

/* Moving from Red to Yellow. */
#loader.yellow .circle.yellow,
#loader.yellow .circle.yellow .mask,
#loader.yellow .circle.yellow .mask .base {
  opacity: 1;
}
#loader.yellow .circle.yellow .mask.first .mover {
  right: 100%;
  width: 0;
}
#loader.yellow .circle.yellow .mask.second .mover {
  left: 0;
  width: 200%;
}

/* Moving from Yellow to Green. */
#loader.green .circle.green,
#loader.green .circle.green .mask,
#loader.green .circle.green .mask .base {
  opacity: 1;
}
#loader.green .circle.green .mask.first .mover {
  bottom: 100%;
  height: 0;
}
#loader.green .circle.green .mask.second .mover {
  height: 200%;
  top: 0;
}


/* Moving from Green to Blue. */
#loader.blue .circle.blue,
#loader.blue .circle.blue .mask,
#loader.blue .circle.blue .mask .base {
  opacity: 1;
}
#loader.blue .circle.blue .mask.first .mover {
  left: 100%;
  width: 0;
}
#loader.blue .circle.blue .mask.second .mover {
  right: 0;
  width: 200%;
}

/* Moving from Blue to Red. */
#loader.red .circle.red,
#loader.red .circle.red .mask,
#loader.red .circle.red .mask .base {
  opacity: 1;
}
#loader.red.firstTime .circle.red .mask.second .base {
  opacity: 0;
}
#loader.red .circle.red .mask.first .mover {
  height: 0;
  top: 100%;
}
#loader.red .circle.red .mask.second .mover {
  bottom: 0;
  height: 200%;
}

#loader .circle.red .mask.first {
  border-bottom-color: rgb(60,120,248);
}

#loader .circle.yellow .mask.first {
  border-left-color: rgb(250,36,36);
}

#loader .circle.green .mask.first {
  border-top-color: rgb(255,211,75);
}

#loader .circle.blue .mask.first {
  border-right-color: rgb(0,177,95);
}

#loader .circle.red .mask.first .base {
  background-color: rgb(250,36,36);
}

#loader .circle.red .mask.second .base {
  background-color: rgb(60,120,248);
}

#loader .circle.yellow .mask.first .base {
  background-color: rgb(255,211,75);
}

#loader .circle.yellow .mask.second .base {
  background-color: rgb(250,36,36);
}

#loader .circle.green .mask.first .base {
  background-color: rgb(0,177,95);
}

#loader .circle.green .mask.second .base {
  background-color: rgb(255,211,75);
}

#loader .circle.blue .mask.first .base {
  background-color: rgb(60,120,248);
}

#loader .circle.blue .mask.second .base {
  background-color: rgb(0,177,95);
}

#loader .circle.initial .mask .mover {
  background-color: rgb(33,89,189);
}

#loader .circle.red .mask.first .mover {
  background-color: rgb(60,120,248);
}

#loader .circle.red .mask.second .mover {
  background-color: rgb(158,18,18);
}

#loader .circle.yellow .mask.first .mover {
  background-color: rgb(250,36,36);
}

#loader .circle.yellow .mask.second .mover {
  background-color: rgb(222,161,26);
}

#loader .circle.green .mask.first .mover {
  background-color: rgb(255,211,75);
}

#loader .circle.green .mask.second .mover {
  background-color: rgb(0,137,72);
}

#loader .circle.blue .mask.first .mover {
  background-color: rgb(0,177,95);
}

#loader .circle.blue .mask.second .mover {
  background-color: rgb(33,89,189);
}

#loader.initial .circle.initial .mask .mover {
  background-color: rgb(60,120,248);
}

#loader.yellow .circle.yellow .mask.first {
  border-color: rgb(255,211,75);
}

#loader.yellow .circle.yellow .mask.first .mover {
  background-color: rgb(158,18,18);
}

#loader.yellow .circle.yellow .mask.second .mover {
  background-color: rgb(255,211,75);
}

#loader.green .circle.green .mask.first {
 border-color: rgb(0,177,95);
}

#loader.green .circle.green .mask.first .mover {
 background-color: rgb(222,161,26);
}

#loader.green .circle.green .mask.second .mover {
 background-color: rgb(0,177,95);
}

#loader.blue .circle.blue .mask.first {
  border-color: rgb(60,120,248);
}

#loader.blue .circle.blue .mask.first .mover {
  background-color: rgb(0,137,72);
}

#loader.blue .circle.blue .mask.second .mover {
  background-color: rgb(60,120,248);
}

#loader.red .circle.red .mask.first {
  border-color: rgb(250,36,36);
}

#loader.red .circle.red .mask.first .mover {
  background-color: rgb(33,89,189);
}

#loader.red .circle.red .mask.second .mover {
  background-color: rgb(250,36,36);
}
