<link rel="import" href="chrome://resources/polymer/v0_8/polymer/polymer.html">

<dom-module id="viewer-page-indicator">
  <link rel="import" type="css" href="viewer-page-indicator.css">
  <template>
    <div id="text">{{label}}</div>
    <div id="triangle-right"></div>
  </template>
</dom-module>
<script src="viewer-page-indicator.js"></script>
