/* Copyright (c) 2012 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.dialog-header button.combobutton {
  -webkit-user-select: none;
  align-items: stretch;
  background: transparent;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  flex: none;
  /* Use bold until we get Roboto medium. crbug.com/368442. */
  font-weight: bold;
  margin: 0 0.29em;
  min-width: 16px;
  outline: none;
  padding: 8px;
}

.dialog-header .combobutton > .action {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

.dialog-header .combobutton > .with-icon {
  -webkit-padding-start: 21px;
}

html[dir='rtl'] .dialog-header .combobutton > .action {
  background-position: right center;
}

.dialog-header .combobutton > .trigger {
  -webkit-margin-end: -8px;
  -webkit-margin-start: 2px;
  margin-top: -1px;
  width: 22px;
}

/* This pseudo element expands clickable area of the .trigger */
.dialog-header .combobutton > .trigger::before {
  content: '';
  display: block;
  height: 40px;
  position: absolute;
  top: -2px;
  width: 30px;
}

.dialog-header .combobutton:not([multiple]) > .trigger {
  display: none;
}

.dialog-header .combobutton[hidden] {
  display: none;
}
