<link rel="import" href="chrome://resources/polymer/v0_8/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v0_8/paper-material/paper-material.html">
<link rel="import" href="chrome://resources/polymer/v0_8/more-routing/more-routing.html">
<link rel="import" href="chrome://resources/cr_elements/v0_8/cr_button/cr_button.html">
<link rel="import" href="chrome://md-settings/checkbox/checkbox.html">

<dom-module id="cr-settings-search-page">
  <link rel="import" type="css" href="chrome://md-settings/settings_page/settings_page.css">
  <link rel="import" type="css" href="search_page.css">
  <template>
    <paper-material>
      <p i18n-content="searchExplanation"></p>

      <div class="search-engines">
        <select id="searchEnginesMenu" on-change="defaultEngineGuidChanged_">
          <template is="dom-repeat" items="[[searchEngines]]">
            <option value="[[item.guid]]">{{item.name}}</option>
          </template>
        </select>

        <cr-button class="manage-search-engines"
            i18n-content="searchManageButtonLabel"
            on-click="manageSearchEngines_" raised>
        </cr-button>
      </div>
    </paper-material>
  </template>
  <script src="search_page.js"></script>
</dom-module>
