<link rel="import" href="chrome://resources/polymer/v0_8/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v0_8/paper-input/paper-input.html">
<link rel="import" href="chrome://resources/cr_elements/v0_8/cr_events/cr_events.html">

<dom-module id="cr-input">
  <link rel="import" type="css" href="cr_input.css">
  <template>
    <cr-events id="events"></cr-events>

    <paper-input id="input" label="[[label]]"
        value="{{value}}" error-message="[[errorMessage]]"
        auto-validate type="[[type]]" pattern="[[pattern]]"
        required="[[required]]" disabled="[[disabled]]">
    </paper-input>
  </template>
  <script src="cr_input.js"></script>
</dom-module>
