<link rel="import" href="chrome://resources/polymer/v0_8/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v0_8/paper-input/paper-input.html">

<dom-module id="viewer-page-selector">
  <link rel="import" type="css" href="viewer-page-selector.css">
  <template>
    <paper-input id="pageselector" value="{{pageNo}}" no-label-float></paper-input>
    <span id="pagelength">/ <span>{{docLength}}</span></span>
  </template>
</dom-module>
<script src="viewer-page-selector.js"></script>
