<link rel="import" href="chrome://resources/polymer/v0_8/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v0_8/iron-icons/iron-icons.html">
<link rel="import" href="chrome://resources/polymer/v0_8/paper-icon-button/paper-icon-button.html">

<dom-module id="cr-expand-button">
  <template>
    <paper-icon-button toggles active="{{expanded}}" disabled="[[disabled]]"
        icon="[[iconName_(expanded)]]">
    </paper-icon-button>
  </template>
  <script src="cr_expand_button.js"></script>
</dom-module>
