<link rel="import" href="chrome://resources/polymer/v0_8/polymer/polymer.html">

<dom-module id="viewer-progress-bar">
  <link rel="import" type="css" href="viewer-progress-bar.css">
  <template>
    <div class="scaler">
      <ul id="segments"></ul>
      <div class="center-circle"></div>
    </div>
    <div id="text">{{text}}</div>
  </template>
</dom-module>
<script src="viewer-progress-bar.js"></script>
