<link rel="import" href="chrome://resources/polymer/v0_8/polymer/polymer.html">

<dom-module id="viewer-error-screen">
  <link rel="import" type="css" href="viewer-error-screen.css">
  <template>
    <div id="load-failed-message">{{text}}</div>
  </template>
</dom-module>
<script src="viewer-error-screen.js"></script>
