<link rel="import" href="chrome://resources/polymer/v0_8/polymer/polymer.html">
<link rel="import" href="../viewer-bookmark/viewer-bookmark.html">

<dom-module id="viewer-bookmarks-content">
  <template>
    <template is="dom-repeat" items="{{bookmarks}}">
      <viewer-bookmark bookmark="{{item}}"></viewer-bookmark>
    </template>
  </template>
</dom-module>
<script src="viewer-bookmarks-content.js"></script>
