<link rel="import" href="chrome://resources/polymer/v0_8/polymer/polymer.html">
<link rel="import" href="chrome://resources/polymer/v0_8/paper-checkbox/paper-checkbox.html">

<dom-module id="cr-checkbox">
  <link rel="import" type="css" href="cr_checkbox.css">
  <template>
    <cr-events id="events"></cr-events>
    <paper-checkbox id="checkbox" checked="{{checked}}" disabled="[[disabled]]">
      <content></content>
    </paper-checkbox>
  </template>
  <script src="cr_checkbox.js"></script>
</dom-module>
